<details><summary>
<b>TODO</b>
</summary>
7.25 todo 
1. former -> no need to process [x]
2. double check llc & sa [x]
3. rerun column assign [x]
4. rerun fuzz + country filter [x]
5. 2 words check existence
6. apply prof's result on 1 candidate

7.27 results
- nunique `cName` in bw: 1842 
- match1 (direct): 351
- match2 (similarity by fuzzywuzzy): 295(>1 candidates) + 316(1 candidate) &rArr; ~300 total
- no possible match (first 2 words, splitted by space): 807/882

7.27 todo
1. problem (dup after str processing)
2. remove all country name in `cName`?

7.28 After meeting:
- [WOOIN](https://www.wooin21.com/about/about01.php)
</details>

In [41]:
# import & func. def.
import pandas as pd
from fuzzywuzzy import process,fuzz
from tqdm import tqdm,trange
import re
import sqldf

def strProcess(s:str, aggresive=False):
    s=s.strip()
    s=s.replace("Co.,","Co.") # Co., -> Co.
    s=s.lower() #小写 
    s=s.replace('corp.','corp')
    s=s.replace('corporation','corp')
    s=s.replace("&"," and ").replace("–","-").replace("mfg.","manufacturing").replace("ltd co","")
    s=re.sub(r"joint\s{1,}stock\s{1,}co[^\s]{1,}",'jsc', s) #joint stock co -> jsc
    if "former" not in s: 
        s=re.sub(r'\(.*?\)', '', s) # 括号内文字删除，除了former的情况
    s=re.sub(r'\s{2,}', ' ', s) #多个空格 -> 单个
    s=re.sub(r'company limit[^\s]{0,}','co., ltd',s)
    s=re.sub(r'limited[^\w]{0,}$', 'ltd', s)
    if aggresive==True:
        s=re.sub(r'-\s.{2,}',"",s) # - xxx -> 删除
        s=re.sub(r'co\.?\,?\s?ltd\.?',"",s) # co ltd 删除
    s=re.sub(r'[^\w\d)]*$',"",s) #处理结尾除右括号的特殊符号
    s=re.sub(r"[^\w\s.,()-]",'',s) #处理除.,()-空格外的特殊符号
    # llc, sa:
    s=re.sub(r'l\.*[\s]*l\.*[\s]*c\.*','llc',s)
    s=re.sub(r's\.[\s]{0,}a\.{0,}','sa',s)

    if s.startswith("pt "): 
        s=re.sub(r'^pt\.?\s', '', s)+" pt" # 处理pt: 开头转结尾
    return s

def getBWDuplicates(verbose=False, col="FactoryName"):
    global bw
    nameCounts=bw.groupby("FactoryBWID")[col].nunique()
    susNames=nameCounts[nameCounts > 1].index
    opdfv=bw[bw['FactoryBWID'].isin(susNames)]
    opdf=opdfv.groupby("FactoryBWID")[col].unique().apply(list).to_dict()
    if verbose==False:
        return opdf
    else:
        return opdfv
    
def queryOrigName(df:str, s, rgx=False):
    if df=="bw":
        global bw
        return bw[bw["FactoryName"].str.lower().str.contains(s, regex=rgx)]
    elif df=="ci":
        global ci
        return ci[ci["company_name"].str.lower().str.contains(s,regex=rgx)]
    else:
        return None

def getFirst2(s):
    if len(s.split(" "))<2:
        return s
    else:
        return " ".join(s.split(" ")[:2])

In [42]:
bw=pd.read_csv("../w7/bw.csv")
ci=pd.read_csv("../w7/cif.csv")
bwFacts=list(bw.FactoryName.unique()) #len: 
ciFacts=list(ci.company_name.unique()) #len:

In [43]:
bw["cName"]=bw["FactoryName"].apply(strProcess, aggresive=1)
ci["cName"]=ci["company_name"].apply(strProcess, aggresive=1)

In [60]:
bw

,QuestID,FactoryBWID,FactoryName,Country,AssessmentDate,year,FNC,cName,CNRR,repriskID
0,12129,2,Hi-Tech Textile L.L.C.,Jordan,19/10/2015,2015,None,hi-tech textile llc,Hi-Tech Textile LLC,106981.0
1,17215,2,Hi-Tech Textile L.L.C.,Jordan,16/10/2016,2016,None,hi-tech textile llc,Hi-Tech Textile LLC,106981.0
2,22596,2,Hi-Tech Textile L.L.C.,Jordan,27/09/2017,2017,None,hi-tech textile llc,Hi-Tech Textile LLC,106981.0
3,30133,2,Hi-Tech Textile L.L.C.,Jordan,16/10/2018,2018,None,hi-tech textile llc,Hi-Tech Textile LLC,106981.0
4,36539,2,Hi-Tech Textile L.L.C.,Jordan,14/10/2019,2019,None,hi-tech textile llc,Hi-Tech Textile LLC,106981.0
...,...,...,...,...,...,...,...,...,...,...
6495,8197,36,CODEVI,Haiti,2015-10-02 00:00:00,2015,None,codevi,CODEVI,118360.0
6496,8262,1540,Valdor Apparel Mfg S.A.,Haiti,27/01/2015,2015,None,valdor apparel mfg sa,NaN,NaN
6497,8212,112,Casual Wear Apparel L.L.C.,Haiti,18/01/2015,2015,None,casual wear apparel llc,NaN,NaN
6498,8214,139,One World Apparel S.A.,Haiti,14/01/2015,2015,None,one world apparel sa,NaN,NaN
6499,8191,175,Palm Apparel S.A.,Haiti,13/01/2015,2015,None,palm apparel sa,Palm Apparel SA,118376.0

In [61]:
sqldf.run('select distinct cName from bw group by cName having count(distinct FactoryBWID)>1')

                             cName
0        andalan mandiri busana pt
1             arindo garmentama pt
2           beauty silk screen ltd
3           berkah indo garment pt
4    branch of garment 10 corp jsc
..                             ...
96            united creations llc
97                 y and w garment
98        yakjin jaya indonesia pt
99    zaber and zubair fabrics ltd
100     zheng yong garment factory

[101 rows x 1 columns]

---
# additional changes after w7:

In [44]:
bw.loc[bw.cName.str.contains("kahoindah"),"cName"]="kahoindah citragarment pt"

---
# match 1:

In [45]:
match1=sqldf.run(
'''
select distinct bw.cName from bw inner join ci on
bw.Country=ci.headquarters_country and bw.cName=ci.cName and bw.Country=ci.headquarters_country
'''
)

# sqldf.run("select distinct(company_name), cName from ci where company_name in (select company_name from ci group by cName having count(distinct(company_name))>1)")
# sqldf.run('select * from bw group by FactoryBWID having count(distinct(cName))>1')

len(match1)

351

## match FNC, repriskID after round 1 matching:

In [46]:
bw.drop(["CNRR","repriskID"],axis=1, inplace=True, errors='ignore')

# merged = pd.merge(bw, ci[['cName', 'company_name','repriskID']], on='cName', how='left')
merged = pd.merge(bw, ci[['cName', 'company_name', 'repriskID', 'headquarters_country']],
                  left_on=['cName', 'Country'],
                  right_on=['cName', 'headquarters_country'],
                  how='left')
bw['CNRR']=merged['company_name']
bw['repriskID']=merged['repriskID'] #.astype('int')
# sqldf.run("select ci.cName, ci.company_name, ci.repriskID from ci inner join bw on ci.cName=bw.cName")
bw

# bw.repriskID.nunique()

,QuestID,FactoryBWID,FactoryName,Country,AssessmentDate,year,FNC,cName,CNRR,repriskID
0,12129,2,Hi-Tech Textile L.L.C.,Jordan,19/10/2015,2015,None,hi-tech textile llc,Hi-Tech Textile LLC,106981.0
1,17215,2,Hi-Tech Textile L.L.C.,Jordan,16/10/2016,2016,None,hi-tech textile llc,Hi-Tech Textile LLC,106981.0
2,22596,2,Hi-Tech Textile L.L.C.,Jordan,27/09/2017,2017,None,hi-tech textile llc,Hi-Tech Textile LLC,106981.0
3,30133,2,Hi-Tech Textile L.L.C.,Jordan,16/10/2018,2018,None,hi-tech textile llc,Hi-Tech Textile LLC,106981.0
4,36539,2,Hi-Tech Textile L.L.C.,Jordan,14/10/2019,2019,None,hi-tech textile llc,Hi-Tech Textile LLC,106981.0
...,...,...,...,...,...,...,...,...,...,...
6495,8197,36,CODEVI,Haiti,2015-10-02 00:00:00,2015,None,codevi,CODEVI,118360.0
6496,8262,1540,Valdor Apparel Mfg S.A.,Haiti,27/01/2015,2015,None,valdor apparel mfg sa,NaN,NaN
6497,8212,112,Casual Wear Apparel L.L.C.,Haiti,18/01/2015,2015,None,casual wear apparel llc,NaN,NaN
6498,8214,139,One World Apparel S.A.,Haiti,14/01/2015,2015,None,one world apparel sa,NaN,NaN
6499,8191,175,Palm Apparel S.A.,Haiti,13/01/2015,2015,None,palm apparel sa,Palm Apparel SA,118376.0

## problem:
1. nunique(cName) < nunique(FactoryBWID) [x]
2. [x]

In [47]:
ci[ci["company_name"].str.lower().str.contains("please refer")]["company_name"].unique()

array(['Hutchison 3 Indonesia; PT [Please refer to Indosat Ooredoo Hutchison Tbk; PT (Indosat Ooredoo; formerly Indosat Tbk; PT)]',
       'Pelabuhan Indonesia IV; PT (Pelindo IV) [Please refer to Pelabuhan Indonesia; PT (Pelindo; formerly Pelabuhan Indonesia II; PT)]',
       'Pelabuhan Indonesia III; PT (Pelindo III) [Please refer to Pelabuhan Indonesia; PT (Pelindo; formerly Pelabuhan Indonesia II; PT)]',
       'Pelabuhan Indonesia I; PT (Pelindo I) [Please refer to Pelabuhan Indonesia; PT (Pelindo; formerly Pelabuhan Indonesia II; PT)]',
       'United Middle-East & Commodore Hotels Co; The [Please refer to Union Land Development Corp]'],
      dtype=object)

# match 2

In [48]:
bwUnmatched1=bw[bw.repriskID.isna()]
# ciUnmatched1=set(ci.cName.unique())-set(match1)  #?doesnt work for no some unknown reason

In [50]:
match2={}
bwUnmatched1cName=bwUnmatched1.cName.unique()

for cname in tqdm(bwUnmatched1cName):
    # id=r.FactoryBWID
    countryList=bw[bw.cName==cname].Country.unique()
    # bwCName=r.cName
    cand=ci[(ci.headquarters_country.isin(countryList)) & (ci.cName.str[0]==cname[0])].cName.unique()
    # cand=[x for x in ciFacts1 if x[0]==i[0]] #prev func.
    possibleMatch=[y for y in cand if fuzz.partial_ratio(y,cname)>75]
    if len(possibleMatch)>0:
        match2[cname]=possibleMatch
    # sorted(cand,key=lambda x : fuzz.partial_ratio(i,x),reversed=True)

# tl=ci[ci.cName.isin(match1.cName.unique())].sectors.unique()
# tsl=[]
# for i in tl:
#     for j in i.split("|"):
#         tsl.append(j.strip())

# tsl=set(tsl)
# tsl

100%|██████████| 1493/1493 [01:38<00:00, 15.13it/s]

In [ ]:
desiredSectors=['Chemicals',
'General Industrials',
'Industrial Engineering',
'Personal and Household Goods',
'Retail',
'Support Services (Industrial Goods and Services)',
'Unspecified']

In [51]:
len(match2)

611

In [52]:
len({x:match2[x] for x in match2 if len(match2[x])>1})

295

## match manually checked item from txt [TODO]

In [53]:
with open('m2-1_new.txt') as r2m:
    r2m=r2m.read().split("$")

In [54]:
r2m=[x.replace("\n","").replace("'","") for x in r2m]
[x for x in r2m if x.startswith("*")]

['*fine apparel ltd: [fine]',
 '*al hanan for cloth manufacturing est: [al]',
 '*al masera textile: [al]',
 '*international elegance garment manufacturing: [international business garments manufacturing company ltd]',
 '*al kawthar garments industry and trade: [al]',
 '*eclat highter international garment (cambodia)  (formerly highter): [e-garment]',
 '*everay textile garment: [e-garment]',
 '*ever-glory garment manufacturing: [e-garment]',
 '*e-z international garment factory: [e-garment]',
 '*eminent garment ltd: [e-garment]',
 '*indo-chine vn: [indochine import export investment jsc]',
 '*knit and knitwears ltd: [knit asia ltd]',
 '*creative wash ltd: [creative shirts ltd]',
 '*mascot knits ltd: [ms knit ltd]',
 '*al mustamerah for tex: [al]',
 '*sc enterprises pt: [sp pt]',
 '*thats it garments ltd: [tuba garments ltd]',
 '*thats it sweater ltd: [time sweater ltd]',
 '*gunung abadi pt: [gunung harta pt]',
 '*bac giang lng garment corp: [bac giang lgg garment corp]',
 '*grupo alfatech,sa: [grupo gama]',
 '*duc hanh garment jsc: [duc canh]',
 '*js vina: [jsi vina corp]',
 '*jmtech busana global pt: [jtech]',
 '*sees vina: [sphere vina]']

---
# check if name in BW has no match in reprisk:

In [55]:
bwUnmatched2=(set(bw.cName.unique())-set(match1.cName.unique()))-set(match2.keys())
len(bwUnmatched2)

882

In [205]:
cnt=0
match3=[]
for i in tqdm(bwUnmatched2):
    flag=False
    for j in set(ci.cName):
        if getFirst2(i) in j:
            match3.append(i)
            flag=True
            break
    if flag:
        continue
    else:
        cnt+=1

f"{cnt}/{len(bwUnmatched2)}"

  0%|          | 0/882 [00:00<?, ?it/s]

100%|██████████| 882/882 [00:12<00:00, 72.80it/s]

'807/882'

In [206]:
match3

['fuma costume',
 'alim',
 'i and j hcm',
 'j and d vinako',
 'long thanh branch',
 'roo hsing co. nicaragua sa',
 'crystal martin',
 'lee and suy vina',
 'phuong nam garment trading import export jsc',
 'phu tai linh service and trading',
 'w and d apparel corp',
 'avery dennison group',
 'new century clothing industry llc',
 'eins',
 'united apparel cambodia branch 2 (formerly lotus textile garment cambodia  branch 2)',
 'dha',
 'yi da viet nam ltd',
 'j t h textile (cambodia) inc. (formerly united apparel (cambodia) 3, formerly lotus 3',
 'elite',
 'park corp ltd',
 'g h i garments cambodia',
 'gildan activewear rivas ii, sa',
 'zhong yin b textile',
 'seil',
 'tainan enterprises',
 'casual wear apparel llc',
 'hong kong winfair garment ltd',
 'emperor',
 'fashion garment 2',
 'opus one corp',
 'quint major industrial vietnam',
 'atto',
 'jaya perkasa textile pt',
 's w j garment',
 'southern garment manufacturing',
 'evergreen apparel',
 'yu fa garment industry',
 'my viet international export service trade',
 'e m b jeilkovi',
 'my hung garment and trading jsc',
 'a and j carter ltd',
 'premier global garment factory',
 't and k garment industry',
 'nesia pan pacific clothing pt',
 'yu da garment industry (cambodia)  (formerly maxpearl garment)',
 'indo jordan clothing company',
 'ty fashion (cambodia) plc. (no.6) (formerly t y fashion (cambodia)  (branch 2)',
 'nesia pan pacific knit pt',
 'm and j garment-printing-embroidery',
 'hai duong garment stock company no.2',
 'dress shirts ltd',
 'h and h textiles, sa',
 'youngone nam dinh',
 'smart shirts enterprise ltd',
 'casual wear apparel',
 'xuan hoa garment',
 'van thanh trading service',
 'h and l apparel corp',
 'g and g ii garments',
 'fashion garments 2',
 'international trading services ltd',
 'rina jaya garment pt',
 'ty fashion (cambodia) plc. (no.5) (formerly t y fashion (cambodia) )',
 'j t h textile inc',
 'd and blue',
 'pan pacific jakarta cabang semarang pt',
 'ty fashion (cambodia) plc. (formerly no.4 and no.5)',
 'leading star garment',
 'dong a textile garment jsc',
 'nam and co london',
 'classic fashion concept ltd',
 'g and g fashion',
 'tan uy dat',
 'laspo pt',
 'dae kwang apparel jsc']

---

In [109]:
bw['RRCleaned']=''
bw['RRSector']=''
bw['doubt']=0

In [121]:
with open('m2-1_new.txt') as m2r1:
    m2r1=m2r1.read().replace("\n","").replace("'","").replace("[","").replace("]","")

m2r1=[x for x in m2r1.split("$") if x!='']
m2r1

['jerash garments and fashions manufacturing: jerash garments and fashions manfacturing co',
 'classic fashion apparel industry ltd. co: classic fashion apparel industry ltd',
 '*fine apparel ltd: fine',
 'united sweethearts garments: united sweethearts garment',
 'fox river caribe, inc: fox river caribe inc',
 'hansae tn: hansae vietnam',
 'mas al safi apparel manufacturing: mas alsafi apparel manufacturing llc (formerly sterling apparel manufacturing llc)',
 '*al hanan for cloth manufacturing est: al',
 '*al masera textile: al',
 'saigon 3 garment jsc: saigon',
 'shillabags international: shilla bags vietnam',
 'avery dennison ris vietnam: avery dennison rbis vietnam',
 'one world apparel sa: one world apparel',
 'global manufacturers and contractors: global manufacturers and contractors sa',
 'esquel garment manufacturing: esquel garment manufacturing vietnam',
 'mas al safi apparel manufacturing llc: mas alsafi apparel manufacturing llc (formerly sterling apparel manufacturing llc)',
 'el zay ready wear manufacturing co: el-zay ready wear manufacturin',
 'uslc apparel, sa: uslc apparel sa (formerly uslc de nicaragua)',
 'al areen wear ltd: al',
 'rainbow textile llc: rainbow textiles llc',
 'kahoindah citragarment pt: kaho indah citra garment pt',
 'saigon 2 garment jsc: saigon',
 's and h global 1-6: s and h global sa',
 'sae-a technotex, sa: sae a technotex sa',
 'gildan activewear san marcos ii, sa: gildan activewear san marcos ii sa',
 'rich pine international group ltd: rich pine international group for clothing tools',
 'koin baju global pt: koin baju global cicurug pt',
 'hansae tg: hansae vietnam',
 '*international elegance garment manufacturing: international business garments manufacturing company ltd',
 'trigoldenstar wisesa pt: tri golden star wisesa pt',
 '*al kawthar garments industry and trade: al',
 'cambo kotop ltd  1: cambo kotop ltd',
 'akeentex pte. ltd: akeentex pte ltd',
 'bodykids fashion wear: body kids fashion wear',
 'sees global kh  (formerly cam taekang sportech ): sees global kh',
 'cambo handsome ltd. 1: cambo handsome ltd',
 'cambo handsome ltd. 2: cambo handsome ltd',
 'cambo handsome ltd. 3: cambo handsome ltd',
 'chung fai knitwear and dyeing fty. ltd: chung fai knitwear fty ltd',
 'dewhirst: dewhirst cambodia',
 'dongdu textile: dongdu textile cambodia',
 '*eclat highter international garment (cambodia)  (formerly highter): e-garment',
 '*everay textile garment: e-garment',
 '*ever-glory garment manufacturing: e-garment',
 '*e-z international garment factory: e-garment',
 'gawon apparel  (formerly bumin): gawon apparel',
 'ghim li pte, ltd: ghim li pte ltd',
 'global apparels limited (formerly jusca garments): global apparels ltd',
 'goldfame enterprises knitters ltd: goldfame star enterprises ltd',
 'hoyear garment ltd: hoyear cambodia garment ltd',
 'j s d textile: jsd textile',
 'a.k.m garment  (formerly k.a.m. garment ): akm garment',
 'kbal koah garment: kbal koah garment co',
 'timeless fashion clothing  (formerly magic square (formerly soyeah)): timeless fashion clothing',
 'mastex incam (cambodia)  (formerly in kyung 2 cambodia ): mastex incam cambodia',
 'quicksew: quicksew ltd',
 'six plus industry: sixplus industry',
 'sl garment processing ltd: sl garment processing cambodia ltd',
 'w and d cambodia: w and d',
 'y and w garment  ): y and w garment',
 'zhong yin (cambodia) textile  (formerly gold flower knitting ): zhong yin cambodia b textile',
 'daeseung-cambo  (formerly mir apparel world ): daeseung cambo',
 'xin hai tong clothing (cambodia) (formerly wanshen clothing (cambodia)): xin hai tong clothing (cambodia)  (formerly wanshen clothing (cambodia) )',
 'hana i. inc: hana i inc',
 'hong seng thai-vina: hong seng thai vina',
 'new holland apparel nicaragua: new holland apparel',
 'lee and vina: l and b vina',
 'woo shin garment indonesia pt: wooin indonesia pt',
 'horizon outdoor: horizon outdoor cambodia',
 'purnama asih sur pt: purnama pt',
 'duc giang corp: duc giang chemicals group jsc',
 'solamoda garments: solamoda garment',
 'global apparel textile manufacturing pte., ltd: global apparels ltd',
 '*eminent garment ltd: e-garment',
 '*indo-chine vn: indochine import export investment jsc',
 'sq celsius ltd: sq celsius ltd (formerly fs sweaters)',
 'golden star corporate development: golden star corporate development ltd',
 'crown wear ltd: crown wears pvt ltd',
 'minh tri thai binh: minh tri',
 'sansan saudaratex jaya 5 pt: sansan saudaratex jaya pt',
 'agile sweater: agile sweater cambodia',
 'asean three tree: asean tire',
 'adhunik poshak shilpa ltd: adhunik poshak shilpo ltd',
 'standard group ltd: standard group',
 '*knit and knitwears ltd: knit asia ltd',
 'pan brothers 9 tbk pt: pan brothers tbk pt',
 'ying yi industry  (formerly perfecta (cambodia) garment ): ying yi industry',
 'thats it sports wear ltd: thatâs it sports wear ltd',
 '*creative wash ltd: creative shirts ltd',
 'raquef apparels washing and packing ind. ltd: raquef apparels washing and packaging industries ltd',
 'ivory garments factory llc: ivory garment factory llc',
 'pine tree co. for textile manufacturing p.s.c: pine tree company for textile manufacturing psc',
 'jinnat knitwears ltd: jinnat knit wears ltd',
 '*mascot knits ltd: ms knit ltd',
 's.b. style composite ltd: sb knit composite ltd',
 '*al mustamerah for tex: al',
 'ml intimate apparel ltd: ml intimate apparel cambodia ltd',
 'bac giang bgg garment corp: bac giang lgg garment corp',
 '*sc enterprises pt: sp pt',
 'sansan saudaratex jaya 1 pt: sansan saudaratex jaya pt',
 'u.i.c apparel manufacturing: uic apparel manufacturing',
 '*thats it garments ltd: tuba garments ltd',
 'arunima sportswear ltd: arunima sports wear ltd',
 'akh shirts limited (former factory): akh shirts ltd',
 'regina miracle international vietnam: regina miracle international',
 '*thats it sweater ltd: time sweater ltd',
 'ayesha clothing company ltd: ayesha clothing',
 'ayesha clothing company ltd-02: ayesha clothing',
 'classic fashion apparel industry: classic fashion apparel industry ltd',
 'visual knitwears ltd: virtual knitwear ltd',
 '*gunung abadi pt: gunung harta pt',
 'fakhruddin textile mills ltd: fakhruddin textiles mills ltd',
 '*bac giang lng garment corp: bac giang lgg garment corp',
 'winter dress limted: winter dress ltd',
 'sysg garment (formerly bing win garment (cambodia)): sysg garment  (formerly bing win garment (cambodia) )',
 'ecofab ltd: eco fab ltd',
 'nyg: nyg vietnam',
 '*grupo alfatech,sa: grupo gama',
 'jasan socks viet nam: jasan socks vietnam',
 'flamingo fashions limited: flamingo fashions ltd',
 'hj.busana indah pt: hj busana indah pt',
 '*duc hanh garment jsc: duc canh',
 'cambo h.d.y.l garment: cambo hdyl garment',
 's and h global washing 7: s and h global sa',
 'epyllion style ltd: epyllion ltd',
 '*js vina: jsi vina corp',
 'norp knit industries ltd. unit-2: norp knit industries ltd',
 'sonali fabrics and textile mills (pvt.) ltd. (sweater) (former factory): sonali fabrics and textile mills ltd',
 '*jmtech busana global pt: jtech',
 'g.w greenways textile: gw greenways textile',
 'k.c bottom and shirt wear company: kc bottom and shirt wear co',
 'perfect vision fashion: perfect vision fashion cambodia',
 'jinnat knitwears limited: jinnat knit wears ltd',
 'onus design ltd: onus designs ltd',
 'hansoll indo java pt: hansoll indo java pt (formerly laspo pt)',
 'makalot garments  branch 1: makalot garments',
 'debonair limited: debonair ltd',
 'birds a and z ltd: birds a. and z. ltd',
 'sees global: sees global kh',
 'shangu tex-2 ltd: shangu tex ltd',
 'e-top: e-top vietnam',
 '*sees vina: sphere vina',
 'hi tech textile: hi-tech textile llc']

In [231]:
queryOrigName('bw','evergreen apparel')

,QuestID,FactoryBWID,FactoryName,Country,AssessmentDate,year,FNC,cName,CNRR,repriskID,RRCleaned,RRSector,doubt
1531,12427,836,"Evergreen Apparel (Cambodia) Co., Ltd.",Cambodia,29/09/2015,2015,None,evergreen apparel,None,NaN,,,0
1532,17640,836,"Evergreen Apparel (Cambodia) Co., Ltd.",Cambodia,24/11/2016,2016,None,evergreen apparel,None,NaN,,,0
1533,24350,836,"Evergreen Apparel (Cambodia) Co., Ltd.",Cambodia,05/12/2017,2017,None,evergreen apparel,None,NaN,,,0
5448,24335,2433,sd evergreen apparel (cambodia),Cambodia,14/11/2017,2017,None,sd evergreen apparel,SD Evergreen Apparel (Cambodia) Co Ltd,2582717.0,sd evergreen apparel,Personal and Household Goods,0
5449,38844,2433,sd evergreen apparel (cambodia),Cambodia,03/03/2020,2020,None,sd evergreen apparel,SD Evergreen Apparel (Cambodia) Co Ltd,2582717.0,sd evergreen apparel,Personal and Household Goods,0
5450,43260,2433,sd evergreen apparel (cambodia),Cambodia,10/08/2021,2021,None,sd evergreen apparel,SD Evergreen Apparel (Cambodia) Co Ltd,2582717.0,sd evergreen apparel,Personal and Household Goods,0

In [157]:
# warning=[]
for i in tqdm(m2r1):
    doubt=0
    if i.startswith("*"):
        doubt=1
        bwName=i.split(":")[0][1:].strip()
    else:
        bwName=i.split(":")[0].strip()
    ciName=i.split(":")[1].strip()
    bw.loc[bw.cName==bwName,"RRCleaned"]=ciName
    bw.loc[bw.cName==bwName,"doubt"]=doubt
    ci_cnrr=ci.loc[ci.cName==ciName,"company_name"].values[0]
    ci_rrid=ci.loc[ci.cName==ciName,"repriskID"].values[0]
    ci_sectors=ci.loc[ci.cName==ciName,"sectors"].values[0]
    # print(ci_cnrr,ci_rrid,ci_sectors,sep="\n")
    bw.loc[bw.cName==bwName,"CNRR"]=ci_cnrr
    bw.loc[bw.cName==bwName,"repriskID"]=ci_rrid
    bw.loc[bw.cName==bwName,"RRSector"]=ci_sectors

100%|██████████| 143/143 [00:01<00:00, 137.37it/s]

In [193]:
bw.loc[bw.cName.isin(match1.cName),"RRCleaned"]=bw.loc[bw.cName.isin(match1.cName),"cName"]

In [202]:
for m in match1.cName:
    if ci[ci.cName==m].sectors.nunique()>1:
        print("warning for", m)
    else:
        bw.loc[bw.cName==m,"RRSector"]=ci[ci.cName==m].sectors.unique()[0]

In [204]:
bw.to_csv("../w9/m1m2.csv")

In [214]:
bw.to_csv("../w9/bw_w9.csv",index=False)
ci.to_csv("../w9/ci_w9.csv",index=False)

In [215]:
match3

['fuma costume',
 'alim',
 'i and j hcm',
 'j and d vinako',
 'long thanh branch',
 'roo hsing co. nicaragua sa',
 'crystal martin',
 'lee and suy vina',
 'phuong nam garment trading import export jsc',
 'phu tai linh service and trading',
 'w and d apparel corp',
 'avery dennison group',
 'new century clothing industry llc',
 'eins',
 'united apparel cambodia branch 2 (formerly lotus textile garment cambodia  branch 2)',
 'dha',
 'yi da viet nam ltd',
 'j t h textile (cambodia) inc. (formerly united apparel (cambodia) 3, formerly lotus 3',
 'elite',
 'park corp ltd',
 'g h i garments cambodia',
 'gildan activewear rivas ii, sa',
 'zhong yin b textile',
 'seil',
 'tainan enterprises',
 'casual wear apparel llc',
 'hong kong winfair garment ltd',
 'emperor',
 'fashion garment 2',
 'opus one corp',
 'quint major industrial vietnam',
 'atto',
 'jaya perkasa textile pt',
 's w j garment',
 'southern garment manufacturing',
 'evergreen apparel',
 'yu fa garment industry',
 'my viet international export service trade',
 'e m b jeilkovi',
 'my hung garment and trading jsc',
 'a and j carter ltd',
 'premier global garment factory',
 't and k garment industry',
 'nesia pan pacific clothing pt',
 'yu da garment industry (cambodia)  (formerly maxpearl garment)',
 'indo jordan clothing company',
 'ty fashion (cambodia) plc. (no.6) (formerly t y fashion (cambodia)  (branch 2)',
 'nesia pan pacific knit pt',
 'm and j garment-printing-embroidery',
 'hai duong garment stock company no.2',
 'dress shirts ltd',
 'h and h textiles, sa',
 'youngone nam dinh',
 'smart shirts enterprise ltd',
 'casual wear apparel',
 'xuan hoa garment',
 'van thanh trading service',
 'h and l apparel corp',
 'g and g ii garments',
 'fashion garments 2',
 'international trading services ltd',
 'rina jaya garment pt',
 'ty fashion (cambodia) plc. (no.5) (formerly t y fashion (cambodia) )',
 'j t h textile inc',
 'd and blue',
 'pan pacific jakarta cabang semarang pt',
 'ty fashion (cambodia) plc. (formerly no.4 and no.5)',
 'leading star garment',
 'dong a textile garment jsc',
 'nam and co london',
 'classic fashion concept ltd',
 'g and g fashion',
 'tan uy dat',
 'laspo pt',
 'dae kwang apparel jsc']

In [218]:
match1.cName

0          hi-tech textile llc
1             vega textile ltd
2         protrade garment jsc
3                dkdr haiti sa
4      pacific sports haiti sa
                ...
346      eternal fame garments
347                      yntex
348      chenghaoshiye fashion
349            sinodex garment
350        xin yunfeng fashion
Name: cName, Length: 351, dtype: object

In [220]:
handcoded=pd.read_excel("../w8/BWID_factoryname handcoded.xlsx", sheet_name='data')

In [225]:
for i in handcoded.RRCleaned.unique():
    if i not in ci.cName.unique():
        print(i)

nan
kaho indah citra garment
sandrafine garment; pt
cambo handsome ltd.
makalot garments cambodia
quicksew
gunung salak sukabumi; pt
thats it sports wear ltd
 NA
anggun kreasi garmen; pt
dasan pan pacific; pt

In [228]:
prob=set(bw[bw.cName.isin(match1.cName)].FactoryBWID.unique())-set(handcoded[handcoded.FNC.isna()!=False].FactoryBWID.unique())

handcoded[handcoded.FactoryBWID.isin(prob)]

,QuestID,FactoryBWID,FactoryName,Country,AssessmentDate,year,FNC,RRCleaned,RepRiskID,CNRR,RRSector
0,12129,2,Hi-Tech Textile L.L.C.,Jordan,19/10/2015,2015,hi-tech textile llc,hi-tech textile llc,106981,NaN,NaN
1,17215,2,Hi-Tech Textile L.L.C.,Jordan,16/10/2016,2016,hi-tech textile llc,hi-tech textile llc,106981,NaN,NaN
2,22596,2,Hi-Tech Textile L.L.C.,Jordan,27/09/2017,2017,hi-tech textile llc,hi-tech textile llc,106981,NaN,NaN
3,30133,2,Hi-Tech Textile L.L.C.,Jordan,16/10/2018,2018,hi-tech textile llc,hi-tech textile llc,106981,NaN,NaN
4,36539,2,Hi-Tech Textile L.L.C.,Jordan,14/10/2019,2019,hi-tech textile llc,hi-tech textile llc,106981,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5396,37180,2381,Debonair Limited,Bangladesh,28/10/2019,2019,debonair ltd,debonair ltd,2593281,NaN,NaN
5597,24561,2560,Bac Giang LGG Garment Corporation,Vietnam,02/01/2018,2018,Bac Giang LGG Garment Corp,bac giang lgg garment corp,2592932,NaN,NaN
5598,37880,2560,Bac Giang LGG Garment Corporation,Vietnam,27/12/2019,2019,Bac Giang LGG Garment Corp,bac giang lgg garment corp,2592932,NaN,NaN
5599,41073,2560,Bac Giang LGG Garment Corporation,Vietnam,19/01/2021,2021,Bac Giang LGG Garment Corp,bac giang lgg garment corp,2592932,NaN,NaN
6298,36908,3095,Debonair limited (Unit -2),Bangladesh,28/10/2019,2019,debonair ltd,debonair ltd,2593281,NaN,NaN

In [233]:
'premium apparel' in match2

True