In [1]:
import pandas as pd

In [3]:
dff=pd.read_stata("../w1/7c.dta")

In [9]:
dff.head(1)

,Country,FactoryAssessedID,AssesmentDate,year,month,QuestID,Cluster,CP,QLabel,Finding,Tags,disclosed,Itemscleaned,CPcleaned,threestds
0,Vietnam,1509,06/01/2015,2015,1,8009,Occupational Safety and Health,Emergency Preparedness,"Are any of the emergency exits inaccessible, o...",1,Public Disclosure: Accessible unobstructed and...,1.0,Accessable unlocked emergency exits,Emergency Preparedness,1.0

In [24]:
dff["pk"]=dff[['FactoryAssessedID', 'AssesmentDate', 'QuestID',"CP","QLabel"]].astype(str).agg('-'.join, axis=1)

In [25]:
dff["pk"].is_unique

True

In [5]:
df=pd.read_csv("F:/cleaned.csv")

In [29]:
# dff.drop(["pk"],axis=1,inplace=True)
dff.head(1)

,Country,FactoryAssessedID,AssesmentDate,year,month,QuestID,Cluster,CP,QLabel,Finding,Tags,disclosed,Itemscleaned,CPcleaned,threestds
0,Vietnam,1509,06/01/2015,2015,1,8009,Occupational Safety and Health,Emergency Preparedness,"Are any of the emergency exits inaccessible, o...",1,Public Disclosure: Accessible unobstructed and...,1.0,Accessable unlocked emergency exits,Emergency Preparedness,1.0

In [27]:
df.head(1)

,Country,FactoryAssessedID,AssesmentDate,QuestID,CP,Q,Finding,QCleaned,CPCleaned,cleaned
0,Vietnam,1509,06/01/2015,8009,Emergency Preparedness,"Are any of the emergency exits inaccessible, o...",1,Accessable unlocked emergency exits,Emergency Preparedness,1

In [32]:
merged_df = pd.merge(df, dff[['FactoryAssessedID', 'AssesmentDate', 'QuestID', 'CP', 'QLabel', 'threestds']],
                     left_on=['FactoryAssessedID', 'AssesmentDate', 'QuestID', 'CP', 'Q'],
                     right_on=['FactoryAssessedID', 'AssesmentDate', 'QuestID', 'CP', 'QLabel'],
                     how='left')

df['threestds'] = merged_df['threestds']

In [36]:
df.to_stata("cleaned_3std.dta",version=118)