- [get `map.json`](getmap.py)

In [80]:
import pandas as pd
import json

In [46]:
df=pd.read_csv("../../CY/Clean Management System/ManagementSystemItems.csv")
raw=pd.read_feather("raw.feather").drop(["Country","year","Tags"],axis=1)
raw.Q=raw.Q.str.replace("  "," ").str.lower().str.strip()
raw.columns=raw.columns.lower()

with open("map.json", "r") as j:
    hint=dict(json.loads(j.read()))

m13=df.columns[1:-2]
qid=df.QuestID.to_list()

In [52]:
# func.
def update(fast=True):
    global df
    filt=df.mngitems<13 if fast==True else df.mngitems<14
    df.loc[filt, "mngsum13items"]=df.loc[filt,m13].sum(axis=1, skipna=True)
    df.loc[filt,"mngitems"]=13-df.loc[filt,m13].isna().sum(axis=1)

def assign(qid, item, val):
    '''assign(y-axis,x-axis,val)'''
    global df
    assert (item:=item.lower().strip()) not in ["mngsum13items","mngitems"], f"use `update()` for {item} column."
    df.loc[df.QuestID==qid, item]=val

def kwSearch(kw:str):
    global raw
    return raw[raw.Q.str.contains(kw.lower())]

def match(qlist:list, item:str ,supress=True):
    global raw,df
    already=[]
    matched=[]
    tempRaw=raw[raw.Q.isin(qlist)]
    tempQID=tempRaw.QuestID.unique()

    for i in tempQID:
        if i in qid:
            if df.loc[df.QuestID==i, item].isna().values[0]==False:
                already.append(i)
            else:
                assign( i,item,int(tempRaw.loc[tempRaw.QuestID==i,"Finding"]) )
                matched.append(i)

    del tempRaw

    if supress==False:
        print(f"{len(matched)}/{len(tempQID)} successfully assigned.\n{len(already)}/{len(tempQID)} matched but already had value.")
        return matched

---

In [188]:
for i in hint:
    print(i)
    for j in range(len(hint[i])):
        temp=kwSearch(hint[i][j])
        print(f"└╴ {hint[i][j]}: {len(temp)}")

hrsigned
└╴ signed: 3152
└╴ hr policy: 0
recruit
└╴ recruitment: 17660
discfire
└╴ disciplinary and termination: 0
grievdispute
└╴ grievance handling: 0
└╴ dispute resolution: 0
accounthr
└╴ accountability: 64
└╴ following hr policies: 0
└╴ following factory policies and procedures: 0
comimplhr
└╴ communicate and implement: 0
└╴ implement hr: 0
investihr
└╴ investigate: 186
└╴ evaluate performance of hr: 0
└╴ hr policies and procedures to identify weaknesses: 0
emergencepr
└╴ emergency: 29806
└╴ emergency preparedness: 0
riskcontr
└╴ risk management: 64
accidentinvesti
└╴ investigate: 186
└╴ accident investigation: 0
accohs
└╴ accountability: 64
└╴ for carrying out: 64
impleosh
└╴ implement osh: 0
└╴ osh policies: 0
invstiosh
└╴ investigate: 186
└╴ measure osh issues: 0

---
# manually check all <1000:
## `accounthr`
no match, see `accohs`

## `investihr`
no match, see `accidentinvesti`

## `accidentinvesti`

In [106]:
kwSearch("investigate").Q.unique()

array(['does the employer investigate work-related accidents and indicate the technical recommendations necessary to prevent them?',
       'does the employer record and investigate work-related accidents and illnesses, and indicate the technical recommendations necessary to prevent them?',
       'does the employer record, investigate and report work-related accidents and diseases to the local manpower office?'],
      dtype=object)

In [ ]:
match(kwSearch("investigate").Q.unique(),item="accidentinvesti")

## `riskcontr`

In [191]:
kwSearch("risk management").Q.unique()

array(['has the employer performed hazard/risk management and control and conducted regular reviews of occupational safety and health performance in the factory?'],
      dtype=object)

In [ ]:
#8728:1
match(['has the employer performed hazard/risk management and control and conducted regular reviews of occupational safety and health performance in the factory?']
       ,item="riskcontr")

## `accohs`:
match to keyWord `accountability`

In [212]:
kwSearch("accountability").Q.value_counts()

does the factory have an osh committee and assign accountability at all levels of management for carrying out health and safety responsibilities?    64
Name: Q, dtype: int64

In [203]:
# 8728:0
match(['does the factory have an osh committee and assign accountability at all levels of management for carrying out health and safety responsibilities?']
      ,"accohs")

## `invstiosh`
ambiguity with `investihr`

# large numbers:
## `hrsigned`:

In [206]:
kwSearch("signed").Q.unique()

array(['do resigned or terminated workers receive all other termination benefits required by law?',
       'do resigned or terminated workers receive correct wage for all days worked and other termination benefits required by law?',
       'is there an adequate osh policy that is signed by top management?'],
      dtype=object)

In [208]:
kwSearch("recruit").Q.unique()

array(['can workers who owe debts for recruitment fees to the employer and/or third party freely leave their jobs?',
       'do recruitment materials such as job announcements or job application forms refer to age in a manner that could discourage older workers from applying?',
       "do recruitment materials such as job announcements or job application forms refer to the applicant's family responsibilities?",
       "do recruitment materials such as job announcements or job application forms refer to the applicant's race, colour or origin?",
       "do recruitment materials such as job announcements or job application forms refer to the applicant's religion or political opinion?",
       'do workers pay any recruitment fees?',
       'have workers paid unauthorized fees to recruitment agents?',
       "is an applicant's gender a factor in recruitment or hiring?",
       "is an applicant's race, colour, origin or citizenship status referred to in recruitment materials and/or a factor in the employer's decisions regarding hiring, termination or retirement of workers?",
       "is an applicant's religion or political opinion referred to in recruitment materials such as job announcements or job application forms and/or a factor in the employer's decisions regarding hiring, termination or retirement of workers ?",
       "is applicant's race, color or origin a factor in recruitment or hiring?",
       "is applicant's religion or political opinion a factor in recruitment and hiring?"],
      dtype=object)

In [210]:
kwSearch("emergency").Q.value_counts()

are emergency exits and escape routes clearly marked and posted in the workplace?                                                     4470
does the employer conduct periodic emergency drills?                                                                                  4091
are there enough emergency exits?                                                                                                     3525
are the emergency exits locked during working hours, including overtime?                                                              2491
are emergency exits and escape routes clearly marked?                                                                                 1802
has the employer developed and trained workers on an emergency evacuation plan?                                                       1802
does the employer conduct at least one emergency drill per year?                                                                      1802
are the emergency exits inaccessible or obstructed during working hours, including overtime?                                          1350
are the emergency exits inaccessible and obstructed during working hours, including overtime?                                         1141
are any of the emergency exits or escape routes inaccessible, obstructed, or locked during working hours, including overtime?         1081
does the employer comply with emergency requirements?                                                                                  837
are any of the emergency exits inaccessible, obstructed, or locked during working hours, including overtime?                           721
are the emergency exits and escape routes accessible, unobstructed and unlocked during working hours, including overtime?              584
does the workplace have adequate stairways that can be used in case of emergency?                                                      584
are there enough adequate emergency exit doors?                                                                                        566
are the emergency exits accessible, unobstructed and unlocked during working hours, including overtime?                                530
are there enough emergency exits ?                                                                                                     498
are the emergency exits accessible, unobstructed and unlocked during working hours, including overtime ?                               498
does the employer conduct periodic emergency drills ?                                                                                  498
are the aisles and emergency exits accessible, unobstructed and unlocked during working hours, including overtime?                     474
has the employer elaborated and implemented an emergency plan?                                                                         119
are the emergency exits accessible, unobstructed and unlocked during working hours, including overtime? [differentiation question]     106
are there enough emergency exits? [differentiation question]                                                                           106
does the employer conduct periodic emergency drills? [differentiation question]                                                        106
are the emergency exits accessible and unobstructed during working hours, including overtime?                                           12
are the emergency exits unlocked during working hours, including overtime?                                                              12
Name: Q, dtype: int64

In [223]:
raw[raw.Q=="has the employer elaborated and implemented an emergency plan?"].Country.unique()

array(['Nicaragua'], dtype=object)

In [224]:
ql=df[df.emergencepr.isna()].QuestID.unique()
raw[raw.QuestID.isin(ql)].Country.value_counts()

Cambodia     80466
Indonesia    12170
Jordan        1716
Haiti          855
Nicaragua      631
Vietnam        442
Name: Country, dtype: int64

In [217]:
raw[raw.Q=="does the employer comply with emergency requirements?"].Country.value_counts()

Indonesia     480
Bangladesh    357
Name: Country, dtype: int64

---
# update

In [221]:
update()

---
test

In [145]:
aci=raw[raw.Q.isin(kwSearch("investigate").Q.unique())].QuestID.to_list()

for it in aci:
    if it in df[df.mngitems<13].QuestID.unique():
        print(it)
        break

42730

In [165]:
df[df.QuestID==42730]

,QuestID,hrsigned,recruit,discfire,grievdispute,accounthr,comimplhr,investihr,emergencepr,riskcontr,accidentinvesti,accohs,impleosh,invstiosh,mngsum13items,mngitems
32,42730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0

In [186]:
df.mngitems.value_counts()

13    5409
10     473
4      118
6      109
5      103
1      102
3       76
0       69
2       23
7        8
12       8
9        1
11       1
Name: mngitems, dtype: int64

In [228]:
df.mngitems.value_counts().sort_index()

0       66
1      105
2       23
3       76
4      118
5      103
6       45
7        8
9       65
10     473
11       1
12       8
13    5409
Name: mngitems, dtype: int64

In [231]:
df

,QuestID,hrsigned,recruit,discfire,grievdispute,accounthr,comimplhr,investihr,emergencepr,riskcontr,accidentinvesti,accohs,impleosh,invstiosh,mngsum13items,mngitems
0,41058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
1,40009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
2,40007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
3,40892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
4,40612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,22727,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,8.0,13
6496,15503,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,10.0,13
6497,21792,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,9.0,13
6498,17694,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,6.0,13
6499,43788,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13

In [ ]:
pd.read_excel("")