In [1]:
import pandas as pd
import os 
from tqdm import tqdm
import numpy as np

In [2]:
df=pd.read_excel('0919 shoes data and codebook.xlsx',sheet_name='wages')
df.head(3)

,conveyor,month,all_salary,workers,avg_pay,attrition,cus1,cus1ps,cus2,cus2ps,cus3,cus3ps,cus4,cus4ps,cus5,cus5ps,allps
0,A-1,1,1119218.3,126,8882.684921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A-1,2,1059743.7,114,9295.997368,9.52381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A-1,3,1042766.2,117,8912.531624,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
type(pd.NA)

pandas._libs.missing.NAType

In [21]:
def f(x):
    if x<0:
        return -x
    elif x>0:
        return 0
    else:
        return x

df.attrition=df.groupby('conveyor').workers.pct_change().apply(f)

df.attrition

0           NaN
1      0.095238
2      0.000000
3      0.008547
4      0.000000
         ...
125    0.173913
126         NaN
127    0.000000
128    0.000000
129    0.000000
Name: attrition, Length: 130, dtype: float64