In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm
import os
import numpy as np
plt.rcParams['font.family']='Arial'

In [5]:
extend=pd.read_csv('wages_extend_month.csv')
charge=pd.read_csv('wages_charge_month.csv')
scores=pd.read_excel("buyer scoring1.xlsx",sheet_name='scoresCleaned')
scores=scores.replace(r"\xa0", '', regex=True)
scores=scores.set_index('buyer').to_dict()
scores

{'mbordering': {'Rhino': '3',
  'Bull': '3',
  'Crown': '3',
  'Sparky': '3',
  'T4 FSPL': '2',
  'Tampa': '3'},
 'mbleadtime': {'Rhino': '2',
  'Bull': '2',
  'Crown': '2',
  'Sparky': '2',
  'T4 FSPL': '1',
  'Tampa': '2'},
 'mbpricing': {'Rhino': '3',
  'Bull': '2.5',
  'Crown': '3',
  'Sparky': '2.5',
  'T4 FSPL': '1',
  'Tampa': '3'},
 'mbpay': {'Rhino': '1',
  'Bull': '2',
  'Crown': '2',
  'Sparky': '2',
  'T4 FSPL': '3',
  'Tampa': '3'}}

In [8]:
extend.loc[extend.cus1=='Curfu','mbpricing']

0    NaN
2    NaN
13   NaN
14   NaN
15   NaN
Name: mbpricing, dtype: float64

In [9]:
extend.loc[extend.cus1=='Curfu','mbpricing']=extend.loc[extend.cus1=='Curfu','cus2'].map(scores['mbpricing'])
extend.loc[extend.cus1=='Curfu','mbpay']=extend.loc[extend.cus1=='Curfu','cus2'].map(scores['mbpay'])

C:\Users\JselZ\AppData\Local\Temp\ipykernel_26564\39832140.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['2.5' '3' '3' '2.5' '3']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  extend.loc[extend.cus1=='Curfu','mbpricing']=extend.loc[extend.cus1=='Curfu','cus2'].map(scores['mbpricing'])
C:\Users\JselZ\AppData\Local\Temp\ipykernel_26564\39832140.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['2' '1' '1' '2' '1']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  extend.loc[extend.cus1=='Curfu','mbpay']=extend.loc[extend.cus1=='Curfu','cus2'].map(scores['mbpay'])

In [10]:
extend.loc[extend.cus1=='Curfu','mbpricing']

0     2.5
2       3
13      3
14    2.5
15      3
Name: mbpricing, dtype: object

In [11]:
extend.to_csv('extend_cus1mb_imputed.csv',index=False)
charge.to_csv('charge_cus1mb_imputed.csv',index=False)

## create new df

In [13]:
wage2010=pd.read_excel('1002shoes extend 2021.12 data.xlsx',sheet_name='2021data')

In [19]:
wage2010['sales']=wage2010['pairs']*wage2010['priceUSD']
summ=pd.DataFrame(wage2010.groupby('conveyor')[['pairs','sales']].sum()).reset_index()

summ

   conveyor  pairs          sales
0       A-1  31051  383951.644941
1       A-2  15368  225185.099188
2       A-3  41913  732464.662216
3       A-4  19698  345787.651706
4       B-1  13301  265554.892939
5       B-2  13593  188553.446728
6       B-3  13060  247815.107384
7       B-4  20454  325605.597566
8       C-1  21520  335088.824503
9       C-2  26695  428045.169748
10      C-3  14368  242096.521854
11      C-4  19168  312034.063553
12      C-5  17322  269894.958666
13      C-6   9089  133445.778316
14      P-1   2540   14317.779655
15      P-2    898    3524.211002
16      P-3   9300   74594.997597
17      P-4   5808   45096.479404

In [21]:
for i,r in summ.iterrows():
    filteredDF=wage2010[wage2010.conveyor==r.conveyor]
    summ.loc[i,'numBuyers']=filteredDF.buyername.nunique()
    summ.loc[i,'numStyles']=filteredDF.stylecode.nunique()
    summ.loc[i,'numArtno']=filteredDF.artno.nunique()
    summ.loc[i,'numBatches']=filteredDF.batch.nunique()
    # nbyr=filteredDF.buyername.nunique()
    # ns=filteredDF.stylecode.nunique()
    # na=  filteredDF.artno.nunique()
    # nbat=filteredDF.batch.nunique()

In [23]:
summ.to_csv('2010vars.csv',index=0)